<div class="container-fluid py-4">
    <!-- Total Revenue - Driver - Rankings -->
    <div class="row mt-4">
        <!-- Total revenue -->
        <div class="col-lg-4 mb-lg-0 mb-4">
            <div class="card card-config-height">
                <h5 class="card-title text-center pt-3">Total Revenue</h5>
                <hr class="horizontal dark">
                <div class="card-body">
                    <ul class="list-group">

                        {{#each revenue_overview}}
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 border-radius-lg">
                            <div class="d-flex align-items-center">
                                <button
                                    class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i
                                        class="fa-regular fa-calendar"></i></i></button>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark text-sm">{{name}}</h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-center text-dark text-gradient text-sm font-weight-bold">
                                {{money}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Driver -->
        <div class="col-lg-4 mb-lg-0 mb-4">
            <div class="card card-config-height">
                <h5 class="card-title pt-3 text-center">Drivers</h5>
                <span class="text-xs text-center pb-1">Total: 12.345</span>
                <hr class="top-mar-hr driver-hr horizontal dark p-0">
                <div class="card-body pb-2">
                    <canvas id="driver-pie-chart"></canvas>
                </div>
            </div>
        </div>
        <!-- Rankings -->
        <div class="col-lg-4 mb-lg-0 mb-4">
            <div class="card card-config-height">
                <h5 class="card-title pt-3 text-center">Rankings</h5>
                <hr class="horizontal dark driver-hr ">

                <div class="card-body pb-3">
                    <ul class="list-group">
                        {{#each ranking_drivers}}
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                            <div class="d-flex align-items-center">
                                <button
                                    class="btn btn-icon-only btn-rounded btn-outline-warning mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i
                                        class="fa-solid fa-{{increment @index}}"></i></button>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark text-sm">{{name}}</h6>
                                    <span class="text-xs">{{phone}}</span>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <h6 class="mb-1 text-dark text-sm">{{total}}</h6>
                                <span class="text-success text-xs">+ {{today}}</span>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <div class="row mt-4">
        {{#each cards}}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                    {{title}}
                                </p>
                                <h5 class="font-weight-bolder mb-0">
                                    {{ammount}}
                                    {{#lt rate 0}}
                                    <span class="text-danger text-sm font-weight-bolder">{{rate}}%</span>
                                    {{else}}
                                    <span class="text-success text-sm font-weight-bolder">+{{rate}}%</span>
                                    {{/lt}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="{{icon}}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <!-- Chart and top locations -->
    <div class="row mt-4">
        <!-- Line char -->
        <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="card">
                <h5 class="card-title pt-3 text-center">Revenue</h5>
                <hr class="top-mar-hr driver-hr horizontal dark p-0">
                <div class="card-body pb-2">
                    <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
                </div>
            </div>
        </div>
        <!-- Rankings Location-->
        <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="card">
                <h5 class="card-title pt-3 text-center">Hot District</h5>
                <hr class="top-mar-hr driver-hr horizontal dark p-0">
                <div class="card-body pb-2">
                    <canvas id="chart-bar" class="chart-canvas" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>